.usersBlock {
    padding: 25px;
}
.userPhoto {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
button {
    display: block;
}

.nonSelected {
    cursor: pointer;
    font-size: 20px;
    padding: 5px;
}
.selected {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    color: #931414;
}