.header {
	grid-area: header;
	background-color: rgba(193, 255, 9, 0.499);
	padding: 10px 20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.header img {
	max-height: 50px;
}

.loginBtn {
	position: relative;
	font-size: 24px;
	font-weight: 600;
	color: #555555;
	float: right;
	top: 0;
	left: 0;
	padding: 10px;
	cursor: pointer;
	transition-duration: 0.2s;
}
.loginBtn:hover {
	color: #931414;
}